h1, h2, h3 {
	color: #0000FF;
	margin-bottom: 60px;
	margin-top: 60px;
}
body {
	background-color: #000000;
}
p, h4, li {
	color: #FFFFFF;
}
img {
	height: 139px;
	width: 144px;
}
td {
	border: 1px solid white;
	padding: 0.5em;
}
table p {
	color: red;
}
tr {
	position: relative;
}